@font-face {
  font-family: myFont;
  src: url('./assets/PermanentMarker-Regular.ttf');
}

.header{
  display: flex;
  background-color: black;
  
}

.header h2{
  font-family:myFont;
  color: red;
}

.header img {
  width: 50px;
  height: 90px;
}

main {
  background-color: black;  
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/paper-background.png');

}

form {
  margin: 200px 50px 50px 50px;
}
.text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 20px 20px 20px 20px;
  font-family:myFont;
  font-size: 50px;
}

.text h3{
  margin: 0px;
}

.input {
  font-family:myFont;
  font-size: 30px;
  border: none;
  border-bottom: dashed 3px black;
  margin: 0px 20px 0px 20px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  font-family:myFont;
  font-size: 30px;
  color :white;
  background-color: red;
  border-radius: 15px;
  padding: 10px 40px 10px 40px;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex: 1 0 calc(33% - 20px);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 250px;
  width: 150px;
  background-color: white;
  margin: 20px;
  padding: 20px;
}

img {
  height: 200px;
  width: 160px;

}

.card-title {
  text-align: center;
  font-family: myFont;
  font-size: 10px;
}